@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');
:root {
    --color-green: rgb(10, 172, 50);
    --color-darkcyan: rgb(6, 126, 126);
    --color-darkcyan-alpha: rgba(7, 90, 122, 0.466);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    z-index: 2;
    text-align: center;
    line-height: 1.5;
}

body::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(115deg, rgba(88, 4, 4, 0.527), rgba(25, 2, 66, 0.651), rgba(4, 52, 75, 0.623)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

main {
    margin: 50px auto;
}

header {
    font-family: 'Lobster', cursive;
    line-height: 1.5rem;
    margin: 5rem auto;
}

header p {
    font-family: 'Lobster Two', cursive;
    font-style: italic;
}

section {
    max-width: 700px;
    margin: 0px auto;
    text-align: left;
    background-color: rgba(96, 5, 138, 0.877);
    padding: 5rem;
    border-radius: 2rem;
    line-height: 1.5rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 1.4rem auto;
    font-size: 2rem;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 5px;
}

input::placeholder {
    color: #333;
    opacity: 1;
}

select {
    color: #333;
}

#radio-group label,
#checkbox-group label {
    display: block;
    margin: 1.2rem 0;
}

.rbt,
.checkbox {
    display: inline-block;
    transform: scale(1.5);
    margin: 0px 10px 0px 5px;
}

textarea {
    width: 100%;
    border-radius: 5px;
}

#submit {
    display: block;
    margin: 20px auto 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(4, 168, 48);
    border: 2px solid white;
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 2.5rem;
    border-radius: 5px;
}

#submit:hover {
    color: rgb(4, 168, 48);
    border: 2px solid rgb(4, 168, 48);
    background-color: white;
    border-radius: 5px;
}

@media (max-width:770px) {
    section {
        width: 80%;
    }
    html {
        font-size: 8px;
    }
    p {
        line-height: 2.3rem;
    }
    .rbt,
    .checkbox {
        transform: scale(1.3);
        margin: 0px 10px 0px 8px;
    }
}

@media (max-width:400px) {
    section {
        width: 90%;
        padding: 4rem;
    }
    html {
        font-size: 9px;
    }
    p {
        line-height: 2.3rem;
    }
    .rbt,
    .checkbox {
        transform: scale(1.3);
        margin: 0px 10px 0px 8px;
    }
}